.server-status-section {
  margin-bottom: 40px;
}

.server-status-section h2 {
  text-transform: capitalize;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: normal;
}

.server-status-container {
  margin: -10px;
}
