.server-status {
  display: inline-block;
  border: 1px solid #707070;
  padding: 10px;
  width: 210px;
  max-width: 44%;
  margin: 10px;
}

.server-status-right {
  float: right;
  text-align: right;
}

.server-player-count {
  font-size: 0.75em;
  margin-top: 5px;
}

.server-url {
  font-size: 0.75em;
}
