$primary: #aea1ea;
$secondary: #35e0ff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  min-height: 100%;
}

#nav-backdrop {
  background-color: $primary;
  height: 100%;
  width: 100%;
  animation: navShrinkUp 0.5s ease-in-out 1s 1 forwards;
  position: relative;
}

@keyframes navShrinkUp {
  from {
    height: 100%;
    text-align: center;
  }
  to {
    height: 150px;
    text-align: left;
  }
}

#nav-backdrop img {
  max-width: 75%;
  max-height: 75%;
  animation: navLogoShow 1.5s ease-in-out 0.5s 1 forwards;
  margin: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@keyframes navLogoShow {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  66% {
    opacity: 0;
    left: 5px;
    transform: translateY(-50%) translateX(0);
  }
  100% {
    opacity: 100%;
    left: 12px;
    transform: translateY(-50%) translateX(0);
  }
}
