@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$primary: #aea1ea;
$secondary: #35e0ff;
$breakpoint: 750px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  color: #303030;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  min-height: 100%;
}

#content {
  opacity: 1;
  visibility: visible;
  animation: showContent 2s ease-in-out 0s 1;
  margin: 20px;
}

@keyframes showContent {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  75% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
