@import "colours";

.auth-form {
  max-width: 350px;
  margin: 0 auto;
}

.auth-form-wide {
  max-width: 700px;
}

.form-group input {
  padding: 10px 15px;
  border: 1px solid #c0c0c0;
  display: block;
  border-radius: 3px;
  width: 100%;
  margin: 5px 0;
}

button {
  padding: 5px 20px;
  border: 1px solid darken($primary, 10%);
  font-size: 0.9em;
  border-radius: 3px;
  background-color: $primary;
  margin-left: 10px;

  &.DENIED {
    border: 1px solid darken($primary, 10%);
    background-color: $primary;
    color: white;
  }
  &.REQUEST_FOR_INFO {
    border: 1px solid darken($primary, 30%);
    background-color: darken($primary, 20%);
    color: white;
  }
  &.ACCEPTED {
    border: 1px solid darken($primary, 35%);
    background-color: darken($primary, 25%);
    color: white;
  }
}

.form-group.error {
  background-color: #ffd2d2;
  border: 1px solid darken(#ffd2d2, 20%);
  border-radius: 5px;
  margin-bottom: 10px;

  div {
    font-weight: bold;
    color: #b30b0b;
  }
}

.form-group {
  padding: 10px;
}

.form-error {
  background-color: #ffd2d2;
  border: 1px solid darken(#ffd2d2, 20%);
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.agree-terms {
  margin: 10px 0 20px;
  padding: 10px;
  font-size: 0.9em;
}
