.chat {
  color: #929292;
  width: 300px;
  height: 500px;
  overflow: hidden;
  background-color: #1c1c1c;
  border-radius: 5px;

  .chat-header {
    img {
      margin: 5px 2px -5px;
    }

    border-bottom: 1px solid #929292;

    .float-right {
      float: right;
      font-size: 0.75em;
      margin-top: 35px;
      margin-right: 10px;
      color: #929292;
    }
  }
}

.chat-list {
  height: 441px;
  overflow: auto;
  padding-top: 10px;

  &::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1em;
  }
}

.chat-user {
  img {
    border-radius: 8px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  .chat-status-indicator {
    position: relative;
    display: inline-block;
    height: 13px;
    width: 13px;
    background-color: #707070;
    border-radius: 50%;
    top: 5px;
    left: -13px;
    border: 2px solid #1c1c1c;

    &[data-status="ONLINE"] {
      background-color: #277900;
    }
    &[data-status="DND"] {
      background-color: #792700;
    }
    &[data-status="AWAY"] {
      background-color: #797900;
    }
  }

  &-name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b7b7b7;
    font-size: 0.8em;
    display: inline-block;
  }

  .float-right {
    float: right;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #929292;
    white-space: nowrap;
    font-size: 0.8em;
  }

  margin: 0 10px 5px;
}
