.chat-message {
  border: 1px solid #707070;
  padding: 5px;
  margin: 5px 0;
}

.chat-message-header-row {
  color: #bebebe;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.75em;
}

.chat-message-server {
  text-align: center;
}

.chat-message-sent {
  text-align: right;
}
