@import "../styles/colours";

.auth-form {
  max-width: 350px;
  margin: 0 auto;
}

.auth-form-wide {
  max-width: 700px;
}

.form-group input {
  padding: 10px 15px;
  border: 1px solid #c0c0c0;
  display: block;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

button {
  padding: 5px 20px;
  border: 1px solid darken($primary, 10%);
  font-size: 0.9em;
  border-radius: 3px;
  background-color: $primary;
}
